# ignore 3rd party lib
node_modules

# ignore logs
logs
*.logs

# ignore build
dist

# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# Environment varibles
*.env